manifest {

    author          = "Eachan O. Johnson"
    homePage        = "https://github.com/scbirlab/nf-crispriseq"
    description     = "Calculate fitness from massive competition experiments using CRISPRi-seq."
    defaultBranch   = "v0.0.1"
    nextflowVersion = '!>=23.10.0'
    version         = "0.0.1"
    doi             = ''

}

nextflow {
  enable.moduleBinaries = true
}

params {

    help = false
    
    // *** Required parameters ***

    // data locations
    // - only for SRA data
    from_sra = false
    // - TODO: allow local FASTQ files
    sample_sheet = null
    sample_names = "sample_id"
    
    // reverse complement?
    rc = false
    guides = false

    // *** Optional parameters ***

    inputs = "inputs"
    outputs = "outputs"
    
    guide_name = "source_name"
    
    do_fitness = false
    use_umis = false

    guide_length = 20

    // guide sequences
    name_column = 'Name'
    sequence_column = 'guide_sequence'

    // data locations
    ncbi_api_key = 'f5b1dceea773296c6634439b7df13c09ad08'

    // adapter trimming with `cutadapt`
    trim_qual = 10
    min_length = 15

}

process {
  container = 'ghcr.io/scbirlab/nf-crispriseq:latest'
  containerEngine = 'auto'  // docker, singularity, or podman
  conda = "${projectDir}/environment.yml"
}

conda {
  createTimeout = '4 h'
  cacheDir = "${projectDir}/.conda"
}

singularity {
  autoMounts = true
  cacheDir = "${projectDir}/.singularity"
  pullTimeout = "3h"
  runOptions = "--network=none"
}

docker {
  cacheDir = "${projectDir}/.docker"
  temp = true  // run in isolated container mount
}

profiles {

  standard {

    conda.enabled = false
    singularity.enabled = true

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

    dag {
      enabled = true
      overwrite = true
    }

    process {
      
      executor = 'slurm'
      memory = 8.GB
      cpus = 1

      withLabel: big_cpu {
        time = '3h'
        cpus = 16
        memory = 16.GB
      }

      withLabel: big_time {
        time = '4d'
        cpus = 1
        memory = 16.GB
      }

      withLabel: some_mem {
        cpus = 1
        memory = 16.GB
      }

      withLabel: med_mem {
        cpus = 1
        memory = 64.GB
      }

      withLabel: big_mem {
        cpus = 16
        memory = 128.GB
      }

      withLabel: gpu_single {
        queue = 'gpu'
        time = '7d'
        module = 'cuDNN/8.9.2.26-CUDA-12.1.1'
        cpus = 2
        clusterOptions = '--gres=gpu:1'
        memory = 128.GB
      }

      withLabel: gpu {
        queue = 'gpu'
        time = '4h'
        module = 'cuDNN/8.9.2.26-CUDA-12.1.1'
        cpus = 2
        clusterOptions = '--gres=gpu:2'
        memory = 128.GB
      }

    }

  }

  local {

    process {
      executor = 'local'
      cpus = 2
      memory = 32.GB
    }
  }

  gh {

    docker.enabled = true
    docker.runOptions = '-u 1001:1001'

    process {
      executor = 'local'
      cpus = 1
      memory = 4.GB
    }
    
  }

}