
params {

    // data locations
    from_sra = true

    // guide sequences
    rc = true
    guides = true

    // table for fitness calculations
    sequencing_group = "sample_id"
    expansion_group = "Timepoint"
    culture_group = "REPLICATE"
    initial = "0.0"
    reference = "Empty_NA_GGAGACGATTAATGCGTCTCG_21mer_v4PAMscoreNA"

    control_column = "source_name"
    negative = "Negative_NA"

    essentials = "MtbH37Rv_DeJesus-mBio-2017_TableS3.csv"
    essential_call = "DeJesus2017_call"
    essential_score = "DeJesus2017_score"
    
}